
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('fondoPreguntados.jpg'); 
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; 
    background-repeat: no-repeat; 
}

.game-container {
    text-align: center;
}

#question {
    margin: 20px 0;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#next-button {
    margin-top: 20px;
    cursor: pointer;
}



.contenido {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
    color: #22011b;
    margin-bottom: 20px;
    font-style:italic;
}

h2 {
    font-size: 24px;
    color: #22011b;
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #22011b;
    margin-bottom: 10px;
}

ul {
    text-align: left;
    margin-left: 40px;
}

ul li {
    font-size: 16px;
    color: #22011b;
}


.footer {
    background-color: #0bd4d4; 
    text-align: center;
    padding: 2px 0; 
    position: absolute;
    bottom: 0;
    width: 100%;
}
      
/* styles.css */
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    transition: all 0.3s ease; /* Efecto de transici贸n para suavizar los cambios */
}

.cell:hover {
    background-color: #0aadb3; /* Cambia el color de fondo al pasar el rat贸n */
    transform: scale(1.1); /* Escala ligeramente la celda al pasar el rat贸n */
    border-color: #333; /* Cambia el color del borde al pasar el rat贸n */
}


